@import '~tui-image-editor/dist/tui-image-editor.css';
.imgSelector {
  display: flex;
  flex-flow: row wrap;
}

.nav span {
  cursor: pointer;
}
.left .file {
  display: none;
}
.left {
  width: 70%;
  height: 300px;
  overflow: scroll;
}
.right {
  width: 30%;
  height: 300px;
  overflow: scroll;
}
.right img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.right li {
  display: flex;
  flex-flow: column;
}
.right span {
  background-color: #222;
  color: #fff;
  padding: 5px;
}
.down {
  width: 100vw;
  height: calc(100vh - 340px);
  display: flex;
  flex-flow: column;
}
.controlers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-flow: row;
}
.controlers button {
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}
.down > div:nth-child(2) {
  height: calc(100vh);
  width: 100%;
}
